<%- include('../partials/header') %>

<section>
  <table id="flights">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/flights/new">Add New Flight</a>
</section>

<%- include('../partials/footer') %>