<%- include('../partials/header') %>

<section id="flight-detail">
  <table id="flight-detail">

    <div>Airline</div>
    <div><%= flight.airline %></div>
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Flight No.</div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date/Time</div>
    <div><%= flight.departs %></div>          

    <h2>Destinations</h2>

    <% if (flight.destinations.length) { %>
      <table>
        <th>
          <th>Destination Airport:</th>
          <th>Arrival Date/Time:</th>
        </th>
        <tbody>
          <% flight.destinations.sort((a, b) => a.arrival - b.arrival); %>
          <% flight.destinations.forEach(function(d) { %>
            <tr>
              <td><%= d.airport %></td>
              <td><%= d.arrival %></td>
            </tr>
          <% }); %>  
        </tbody>
      </table>
    <% } %>
    <br>  
    <form id="add-destination-form" action="/flights/<%= flight._id %>/destinations" method="POST">
      <h4>Add Destination</h2>
      <label>Destination Airport:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
      <label>Arrival Date/Time:</label>
      <input type="datetime-local" name="arrival">
      <input type="submit" value="Add Destination">
    </form>
    <br>
    <a href="/flights/<%= flight._id %>/tickets/new">Buy New Ticket</a>
    <% if (tickets.length) { %>
      <table>
        <th>
          <th>Seat</th>
          <th>Price</th>
        </th>
        <tbody>
          <% tickets.forEach(function(t) { %>
            <tr>
              <td><%= t.seat %></td>
              <td>$<%= t.price %></td>
            </tr>
          <% }); %>  
        </tbody>
      </table>
    <% } %>


</section>

<%- include('../partials/footer') %>